.box {
  display: flex;
  padding: 10px 64px;
  align-items: center;
  position: relative;
  /* background-color: azure; */
  background-color: #ffff;
  box-shadow: 0px 6px 8px rgba(19, 4, 241, 0.1);
  width: 100%;
}

.logo {
  width: 80px;
  height: 80px;
  margin: 10px;
}
.title {
  font-family: var(--third-family);
  font-weight: var(--font-weight-light);
  font-size: 60px;
}

.navbox {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-left: 350px;
  font-family: var(--third-family);
  font-weight: var(--font-weight-light);
  font-size: 22px;
}

.nav:hover {
  color: var(--hover);
}
