.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  color: black;
  padding-top: 50px;
}

.hire {
  color: #6769bc;
}

.text {
  font-weight: 400;
  font-size: 24px;
  color: #000;
}
