.footer {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: var(--third-family);
  font-size: 150px;
  color: #03034a;
}

.title:hover {
  color:/*  #58dad7 */ #6769bc;
  cursor: pointer;
}
